# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Environment
.env
.env.local
.env*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Testing
coverage
.vitest

# Misc
.DS_Store
*.pem
README.md
.kiro
